body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

.image-map-container {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.responsive-image {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}


  #gifOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 100% ширины экрана */
    height: 100vh; /* 100% высоты экрана */
    background-color: rgba(0, 0, 0, 0.8); /* полупрозрачный чёрный фон */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  #gifOverlay img {
    width: 100%; /* Растягиваем изображение на всю ширину */
    height: 100%; /* Растягиваем изображение на всю высоту */
    object-fit: cover; /* Сохраняем пропорции изображения при растягивании */
  }



